body
{
    background-color: #efefef;
}
.single-blog{
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: auto;
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 30px;
    background-color: #fff;
}
.single-blog img{
    width: 100%;
}
.blog-meta{
    font-size: 14px;
    margin-bottom: 2px;
}
.single-blog span{
    float: right;
    font-size: 12px;
    color: cornflowerblue;

}
.blog-text{
    font-size: 14px;
    text-align: justify;

}
.single-blog h2{
    margin-top: 10px;
    font-size: 16px;
    color: #007bff;
}
.single-blog h2 a{
    text-decoration: none;
}
.read-more-btn{
    background-image: linear-gradient(to right,#1c03b5,#5c8bef);
    padding: 5px 12px 8px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    border: none !important;


}
.Header-container{
    box-sizing: border-box;
    border-radius: 5px;
    background-color:#fff;
    margin: 2px;
    padding: 0px 78px;
}

.MYdiv{
    margin-bottom: 20px;
    font-size: 16px;
    padding-top: 16px;
}
.btn{
    padding: 6px 14px;
    width: auto;
    color:#0084ff;
    border-radius: 15px;
    border: 1px solid #0084ff;
    margin: 5px;
    background-color: white;

}

.footer-container{
    width: 100%;
    height: 80px;
    padding: 30px;
    background-color: #172146;;
}
.Container{
    width: 100%;
    display: inline-block;
}

#edyoda{
    font-size: 50px;
    margin-left: 300px;
    color: #fff;
    text-align: left;
    padding: 6px;
    float: left;


}
#website{
    position: sticky;
    margin-right: 300px;
    font-size: 50px;
    color: #fff;
    text-align: right;
    padding: 6px;
    float: right;
}
.input-div{
    position:relative;
    float: center;
    color: white;
    margin-top: auto;
    background-color: white;
    text-align:right;
}

.Header{
    box-sizing: border-box;
    width: 100%;
    Padding:0;
    margin: 0;
    Background-color:#fff;
}
.Edyoda-text{
    color: #0084ff;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 20px;
}
